[user]
	name  = Rodrigo Tobar
	email = rtobar@icrar.org
	signingkey = 3B83A7138915B30F
[color]
	ui = auto
[init]
	templatedir = ~/.git-templates
[alias]
	co   = checkout
	ci   = commit
	cin  = commit --no-gpg-sign
	st   = status
	sb   = status -sb
	stu  = status -uno
	sbu  = status -sbuno
	br   = branch
	ec   = config --global -e
	ld   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue%an%Creset %Cgreen(%cr)%Creset' --date-order --all
	ldb  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue%an%Creset %Cgreen(%cr)%Creset' --date-order
	lt   = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue%an%Creset %Cgreen(%cr)%Creset' --topo-order --all
	ltb  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cblue%an%Creset %Cgreen(%cr)%Creset' --topo-order
	ds   = diff --stat
	ss   = show --stat
	wipe = !git add -A && git commit -qm 'WIPE SAVEPOINT' && git reset HEAD~1 --hard
	save = !git add -A && git commit -m 'SAVEPOINT'
	undo = reset HEAD~1 --mixed
	up   = pull --rebase --prune
	amend= commit --amend --no-edit
	edit = commit --amend --edit
	fa   = fetch --all --prune
	dc   = diff --cached
	dcs  = diff --cached --stat
	mail = send-email
	tc   = tag --contains
	show = show --show-signature
	rs   = !git stash pop && git stash
	cr   = commit -eF .git/COMMIT_EDITMSG
[push]
	default = upstream
#[filter "lfs"]
#	smudge = git-lfs smudge -- %f
#	process = git-lfs filter-process
#	required = true
#	clean = git-lfs clean -- %f
[commit]
	gpgSign = true
[tag]
	forceSignAnnotated = true
[diff]
	submodule = log
[status]
	submodulesummary = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
